#box {
  border: 1px solid;
  background: papayawhip;

  /* width: calc(100% - 40px - 2px); */

  width: 500px;
  height: 300px;

  padding: 20px;
  position: absolute;

  top: calc(50% - 150px - 20px - 1px);
  left: calc(50% - 250px - 20px - 1px);
}
